
.banner {
  width: 100%;
  height: 250px;
  background-color: #003d92;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFF;
  padding: 0 16px;
  gap: 16px;
}

.banner > svg {
  width: 300px;
}

.banner > p {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin: 0;
}

.divTitle {
  padding: 40px;
  display: grid;
  place-items: center;
  text-align: center;
}

.divTitle > h1 {
  margin: 0;
  font-weight: 600;
}

.center {
  width: 100%;
  padding: 0 16px;
}

.topics {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin-bottom: 40px;
}

.tabs {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-bottom: 16px;
}

.tab {
  height: 50px;
  background-color: var(--ifm-navbar-background-color);
  border-radius: 10px;
  padding: 10px;
  border: 1px solid var(--card-border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  transition: all 300ms linear;
}

.tab > span {
  font-size: 16px;
  font-weight: 600;
  color: var(--text-color)
}

.tab > svg {
  width: 30px;
  height: 30px;
  fill: #68b6e6;
}

.tab:hover {
  cursor: pointer;
  transform: scale(1.05);
  border: 2px solid var(--ifm-color-primary);
}

.selectedTab {
  border: 2px solid var(--ifm-color-primary);
}

@media (max-width: 768px) {

  .topics {
    grid-template-columns: 1fr;
  }

  .tabs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .tab {
    width: 100%;
  }

}

@media (min-width: 769px) and (max-width: 1024px) {
  .topics {
    grid-template-columns: repeat(2, 1fr);
  }
}
