
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: "Poppins", sans-serif;
}

:root {
  --ifm-color-primary: #003d92;
  --ifm-color-primary-dark: #003783;
  --ifm-color-primary-darker: #00347c;
  --ifm-color-primary-darkest: #002b66;
  --ifm-color-primary-light: #0043a1;
  --ifm-color-primary-lighter: #0046a8;
  --ifm-color-primary-lightest: #004fbe;
  --ifm-background-color: #f0f0f0;
  --ifm-navbar-background-color: #ffffff;
  --ifm-footer-background-color: #ffffff;
}

[data-theme='dark'] {
  --ifm-color-primary: #68b6e6;
  --ifm-color-primary-dark: #4ba8e1;
  --ifm-color-primary-darker: #3da1df;
  --ifm-color-primary-darkest: #2189c9;
  --ifm-color-primary-light: #85c4eb;
  --ifm-color-primary-lighter: #93cbed;
  --ifm-color-primary-lightest: #bee0f4;
  --ifm-background-color: #232323;
  --ifm-navbar-background-color: #343434;
  --ifm-footer-background-color: #343434;
}
